# Entornos y bytecode
.venv
__pycache__/
*.pyc
pytest_cache/

# Configuración sensible
.env

# Modelos de datos y vectores generados (pero dejamos el CSV)
*.db
*.faiss
*.pkl

# Reportes de cobertura
htmlcov/
